/* Google Font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Google Font - Macondo */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* brown */
    --secondary-color: #aa9581; /* beige */
    --highlight-color: #416a8e; /* petrol blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global style */
body {
    font-family:var(--primary-font);
    /* Pushes navbar to top at all times so it does not cover any content */
    padding-top: 57.65px;
}

h1,
h2,
h3 {
    font-family:var(--secondary-font);
    color:var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color:var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Custom button */

.custom-button-fill {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
    color: #ffff;
}

.custom-button-fill:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: #ffff;
} 

.custom-button-outline {
    border-color: var(--highlight-color);
    border-width: 2px;
    background-color: transparent;
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custom-button-outline:hover {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
    color: #ffff;
    padding: 7px 25px;
}

/* Navbar CSS */
#navbar {
    background-color:var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header CSS */
#header .lead {
    font-family: var(--secondary-font);
    
}

/* Services CSS */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Events CSS */

#events .text-box {
    text-align: center;
    background-color: var(--highlight-color);
    color: white;
    padding: 0.5%;
    font-weight: bold;
}

/* New Games and Favourite Games CSS */
#new-games-section .card,
#favourite-games-section .card {
    border-color: transparent;
}

/* Footer/Contact section */

#contact-section {
    background-color:var(--primary-color);
    color: #ffff;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

#contact-section h2 {
    color: #ffff;
}

#contact-section .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact-section i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact-section .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact-section .social-links i:hover {
    color: var(--secondary-color)
}

/* Footer/Opening Times section */

#contact-section .table-dark *{
    background: transparent;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
/*

/* Media Query for tablets (768px) and up */
@media screen and (min-width: 768px) {
    /* Make service cards all the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Media Query for larger screens (992px) and up */
@media screen and (min-width: 992px) {
    /* Make service cards all the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* Media Query for x-large screens (1200px) and up */
@media screen and (min-width: 1200px) {
    /* Make service cards all the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* Media Query for xx-large screens (1400px) and up */
@media screen and (min-width: 1400px) {
    /* Make service cards all the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}

/* Media Query for mobile screens (320px) and up */
@media screen and (min-width: 320px) {
    /* Make table wrap on mobile screens */
    #events .table {
        font-size: small;
    }
}

/* Media Query for mobile screens (768px) and up */
@media screen and (min-width: 768px) {
    /* Make table wrap on mobile screens */
    #events .table {
        font-size: medium;
    }